.amazing {
text-align: center;
padding-left: 300px;
font-size: xx-large;
background-color: aqua;
}

img{
    margin: 0 auto;
    display: block;
}

.bye {
    text-align: center;
        padding-left: 300px;
        font-size: xx-large;
        background-color: aqua;
}